/* src/components/Home.css */
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('/fondoHome.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .home-title {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 10;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 8rem;
  }
  
  .nav-link {
    position: relative;
    font-size: 1.5rem;
    color: white;
    transition: opacity 0.5s ease;
  }
  
  .nav-link span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link:hover span {
    width: 100%;
  }
  
  .nav-link.hidden {
    opacity: 0;
  }

  
  @media (max-width: 768px) {
    .home-title {
      font-size: 2rem;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 2rem;
    }
  
    .nav-link {
      font-size: 1.2rem;
    }
  }
  