.gallery-container {
    margin: 0;
    padding:0;
    background-image: url("/fondo.jpg"); 
    background-size: auto;  
    background-position: top left;  
    background-repeat: repeat; 
    background-attachment: scroll;  
    color: white;
    font-family: "Arial", sans-serif;
  }